<section id="experience" class="section">
  <div class="max-w-4xl mx-auto">
    <h2 class="section-title">Experience</h2>

    <div class="timeline-container mt-12">
      <div *ngFor="let exp of experiences" class="timeline-item">
        <div
          class="bg-white/20 dark:bg-dark-700/20 p-6 rounded-lg shadow-md ml-8 hover:bg-white/80 dark:hover:bg-dark-700/80 transition-colors duration-300"
        >
          <h3 class="text-xl font-bold text-primary-500">{{ exp.title }}</h3>
          <div
            class="flex flex-col sm:flex-row sm:justify-between sm:items-center mt-1 mb-4"
          >
            <span class="font-medium">{{ exp.company }}</span>
            <span class="text-sm text-gray-600 dark:text-gray-300">{{
              exp.period
            }}</span>
          </div>

          <p class="mb-4">{{ exp.description }}</p>

          <ul class="list-disc pl-5 space-y-1">
            <li *ngFor="let achievement of exp.achievements">
              {{ achievement }}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
